build/
DNACipher.egg-info/
GRCh38-cCREs.bed
gencode.v26.annotation.gtf
gtf.gz
t1d_runx3_assays.txt
t1d_runx3_celltypes.txt
assays.txt
celltypes.txt
dnacipher/call_significant_variant_effects_common-rare-separted.py
tutorials/data/chiou_variants_cell_annots.txt
tutorials/data_VERSION5_FINEMAP/
tutorials/data/*34012112-GCST90014023-EFO_0001359-Build38*
tutorials/data/*selected_var_info.txt
tutorials/data/*pred_effects.txt
tutorials/data/*pred_effects.pvals.txt
tutorials/data/*pred_effects.counts.txt
tutorials/data/*.out
tutorials/data/*.err
tutorials/data/signal_*
tutorials/data/GRCh38-cCREs.bed
tutorials/data/gencode.v26.annotation.gtf
tutorials/data/genome.fa
tutorials/data/genome.fa.fai
.ipynb_checkpoints/
dnacipher/__pycache__/
.DS_Store
